body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(206, 22, 111);
}

.input-section {
    margin-bottom: 20px;
   
}

.input-section input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

.input-section button {
    padding: 8px 15px;
    background-color: #a2af4c;
    color: rgb(99, 92, 15);
   
}

.tasks-section h2 {
    margin-bottom: 10px;
    color:chocolate;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;s
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    color: rgb(77, 22, 194);
    font-family:'Times New Roman', Times, serif;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    opacity: 1.0;
}
